@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic);
body, html {
    font-family: 'Ubuntu', sans-serif, "微軟正黑體";
    background-color: #932556;
    min-width: 1000px;
    color: #ebebeb;
    letter-spacing: 1px;
}


/*****共用*****/


/*HEADER------------------------------------------*/

header {
    position: fixed;
    color: white;
    height: 100%;
    width: 260px;
    z-index: 999;
    line-height: 60px;
    font-size: 20px;
    background-color: #932556;
    overflow: hidden;
    transition: all 200ms ease-out;
}

header h1 {
    font-size: 80px;
    line-height: 13px;
    padding: 100px 0 75px 10px;
    letter-spacing: 2px;
    cursor: pointer;
}

header h1 em {
    padding-left: 3px;
    font-size: 13px;
}

header h1 a {
    display: block;
    padding: 0 40px 0 20px;
    color: white;
    transition: all 300ms;
}

header h1:hover a {
    color: rgba(255, 255, 255, .5);
}

header ol li {
    border-bottom: 1px rgba(255, 255, 255, .2) solid;
}

header li a {
    display: block;
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
    text-transform: Uppercase;
    transition: all 400ms ease-out;
    letter-spacing: 2px;
}

header li a:hover {
    color: #fff;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, .4);
}

header li.on a {
    color: #356CAD;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, 1);
}


/*MAIN CONTENT*/

.wrap {
    padding-left: 260px;
    box-sizing: border-box;
}

.showcase {
    background-image: url(../image/squared_metal.png);
    box-sizing: border-box;
}

.showcase ul {
    overflow: hidden;
}

.showcase li {
    box-sizing: border-box;
    transition: all 200ms ease-out;
    position: relative;
    overflow: hidden;
}

.showcase li a {
    display: block;
    transition: all 200ms ease-out;
}


/*內頁選單*/

#menuBox {
    position: fixed;
    z-index: 9999;
    width: 100%;
    color: #fff;
    padding-left: 260px;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    right: 0;
    bottom: 0;
    transition: all 200ms ease-out;
}

.Menu1 {
    float: right;
    overflow: hidden;
}

.Menu1 li {
    float: left;
    width: 60px;
    font-size: 10px;
    margin-right: 1px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
}

.Menu1 li:hover {
    background-color: rgba(255, 255, 255, .3);
}

.Menu2 {
    float: right;
}

.Menu2 li {
    float: left;
}

.Menu2 li a {
    display: block;
    width: 60px;
    margin-right: 1px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
    font-size: 20px;
    color: #fff;
}

.Menu2 li a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.itemList {
    float: right;
    color: #fff;
    width: 110px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}


/*遮罩*/

#mask {
    overflow: hidden;
    position: relative;
}


/*內容*/

.Box {
    position: relative;
    text-align: center;
}

.B02, .B03 {
    display: none;
}

.Box ol li {
    float: left;
    width: 100%;
}


/*information*/

.information {
    padding: 90px 60px 60px;
    overflow: hidden;
}

.information .fa-ellipsis-v {
    font-size: 21px;
    margin-right: 10px;
}

.information {
    border-bottom: 1px rgba(255, 255, 255, .3) solid;
}

.information .left {
    float: left;
    width: 50%;
    overflow: hidden;
}

.information .left img {
    width: 100%;
}

.information .right {
    float: left;
    width: 40%;
    padding-left: 40px;
    overflow: hidden;
    text-align: left;
    padding-top: 120px;
}

.information .right h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 20px;
}

.information .right a {
    font-size: 18px;
    letter-spacing: -1px;
    color: #a5d7ff;
}

.information .right a:hover {
    opacity: .7;
}


/*IMGBox*/

.IMGBox {
    padding-top: 60px;
    clear: both;
}

.IMGBox h4 {
    width: 530px;
    padding-bottom: 5px;
    overflow: hidden;
}

.IMGBox h4 a {
    color: #00000F;
    border: 1px #00000F solid;
    font-size: 18px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    transition: all 200ms ease-out;
    display: block;
    float: right;
}

.IMGBox h4 a:hover {
    background-color: rgba(255, 255, 255, .3);
    color: #fff;
    border: 1px #fff solid;
}

.IMGBox {
    padding-left: 60px;
}

.IMGBox img {
    margin-bottom: 80px;
    width: 530px;
    display: block;
    border: 1px rgba(255, 255, 255, .3) solid;
}

.Box .smallIMG img {
    width: 350px;
}

p {
    font-size: 13px;
    margin-bottom: 10px;
}

a.link {
    display: block;
    font-size: 18px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    border: 1px rgba(255, 255, 255, .6) solid;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    transition: all 200ms ease-out;
}

a.link:hover {
    background-color: rgba(255, 255, 255, .5);
}


/**共用END********/


/*mainPage(INDEX)------------------------------------------*/

#mainPage .slide {
    height: 400px;
    /* background: fixed url("../image/clouds.jpg"); */
    background-size: cover;
    color: #F3F2D9;
    clear: both;
    position: relative;
    overflow: hidden;
}

#mainPage .slide h1 {
    position: relative;
    font-size: 150px;
    line-height: 120px;
    letter-spacing: -8px;
    transform: rotate(-5deg);
    opacity: .9;
    margin-left: -30px;
}

#mainPage .slide h1 em {
    position: absolute;
    top: -60px;
    left: 0px;
    font-size: 25px;
    letter-spacing: -2px;
}

#mainPage .slide h2 {
    padding-top: 5px;
    padding-left: 310px;
    letter-spacing: -1px;
    font-size: 18px;
    color: #fff;
}

.text01 {
    position: absolute;
    left: 25%;
    width: 600px;
    padding-top: 100px;
    color: #fff;
    z-index: 100;
}

.text02 {
    position: absolute;
    left: 25%;
    top: 400px;
    width: 600px;
    color: #fff;
}

.text02 h3 {
    font-size: 21px;
    letter-spacing: 0px;
    font-weight: bold;
}

.text02 p {
    color: #fff;
}

.text03 {
    position: absolute;
    left: 25%;
    top: 435px;
    width: 600px;
    color: #636363;
}

.text03 p {
    font-size: 15px;
}

.text04 {
    position: absolute;
    left: 25%;
    top: 510px;
    padding: 9px 20px 2px;
    color: #fff;
    text-shadow: -1px -1px -0px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 8px;
}

.text05 {
    position: absolute;
    left: 25%;
    top: 560px;
    padding: 9px 20px 2px;
    color: #fff;
}

.text05 em {
    font-size: 13px;
    letter-spacing: 0;
}

.airplane {
    position: absolute;
    top: 80px;
    left: -260px;
    width: 260px;
    height: 260px;
    z-index: 110;
    transform: rotate(-5deg);
    background-image: url(../image/ariplane.png);
}

.airplane2 {
    position: absolute;
    top: -50px;
    right: -5000px;
    width: 170px;
    height: 170px;
    z-index: 10;
    transform: rotate(-2deg);
    background-image: url(../image/ariplane2.png);
    background-size: 100% auto;
    opacity: 0;
}


/*webSitePage------------------------------------------*/

#webSitePage .showcase ul {
    padding: 20px 20px 0 20px;
}

#webSitePage .showcase li {
    float: left;
    width: 20%;
    line-height: 0;
    margin: 0 2% 2% 0;
    border: 1px rgba(255, 255, 255, .3) solid;
    background-color: #000;
    cursor: pointer;
}

#webSitePage .showcase li:nth-child(4n) {
    margin-right: 0;
}

#webSitePage .showcase li img {
    width: 100%;
}

#webSitePage .showcase li span {
    position: absolute;
    bottom: -60px;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, .7);
    box-sizing: border-box;
    padding: 12px 12px 0 12px;
    transition: all 400ms ease-out;
}

#webSitePage .showcase li span .link {
    width: 35px;
    height: 35px;
    line-height: 35px;
}

#webSitePage .showcase li span a {
    float: right;
    margin-left: 8px;
}

#webSitePage .showcase li:hover span {
    bottom: 0;
}

#webSitePage .showcase li:hover img {
    opacity: .7;
}


/*bannerPage-------------------------------------*/

#bannerPage embed {
    margin: 20% auto 0;
    border: 1px rgba(255, 255, 255, .3) solid;
}

#bannerPage .B01 embed {
    margin: 20% auto 0;
}

#bannerPage .B02 embed {
    margin: 12% auto 0;
}

#bannerPage .B03 embed {
    margin: 2% auto 0;
}

#bannerPage .showcase li {
    float: left;
}


/*uiPage-------------------------------------*/

#uiPage .Box li {
    text-align: center;
}

#uiPage .Menu1 {
    display: none;
}


/*inner*/

#inner .IMGBox img {
    width: 90%;
}

#inner .IMGBox div {
    text-align: left;
    margin-bottom: 20px;
}

#inner .information img {
    border: 1px rgba(255, 255, 255, .3) solid;
}


/**/

#graphicPage .left {
    width: 350px;
}

#graphicPage .left img {}

#graphicPage .right {
    padding-top: 40px;
}

#graphicPage .IMGBox img {
    width: 600px;
}

#graphicPage .bigIMG img {
    width: 770px;
}

#graphicPage .Menu1 {
    display: none;
}


/**/

#animationPage .Menu1 {
    display: none;
}


/*--------------------------------------
-------*/

@media all and (max-width: 1200px) {
    body, html {
        min-width: 700px;
    }
    header {
        height: 100%;
        width: 150px;
    }
    header h1 {
        font-size: 50px;
        padding: 100px 0 75px 0;
        letter-spacing: 0px;
    }
    header h1 em {
        padding-left: 0;
    }
    .wrap {
        padding-left: 150px;
        transition: all 200ms ease-out;
    }
    .information .left {
        min-width: 300px;
    }
    .infortmation .right {
        min-width: 200px;
    }
    #webSitePage .showcase ul {
        padding: 2%;
    }
    #webSitePage .showcase li {
        width: 49%;
        margin-right: 1%;
    }
    #webSitePage .showcase li:nth-child(3n) {
        margin-right: 1%;
    }
    #webSitePage .showcase li:nth-child(even) {
        margin-right: 0;
    }
}

@media all and (max-width: 700px) {
    body, html {
        min-width: 480px;
    }
    #webSitePage .showcase ul {
        padding: 1%;
    }
    #webSitePage .showcase li {
        width: 100%;
        margin-right: 0;
    }
    #webSitePage .showcase li:nth-child(3n) {
        margin-right: 0;
    }
}

@media all and (max-width: 480px) {
    body, html {
        min-width: 320px;
    }
    header ol {
        display: none;
    }
    .showcase {
        display: none;
    }
    header {
        heigth: 50px;
        width: 100%;
    }
    header h1 {
        font-size: 120px;
        padding: 100px 0 75px 0;
        letter-spacing: 2px;
    }
    header h1 em {
        padding-left: 5px;
    }
}
