@charset "utf-8";

.caption { cursor: pointer; color: #fff; font-size:12px; background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.8); background: transparent\9;  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)"; }
/*內容*/
#INNER #nav { padding-bottom:0; height:57px;}
#INNER #content { clear:both; overflow:hidden; padding:0 0 30px;}

/**/
.fff { width:300px; float:right; padding:0;}
.fff li { float:right; padding:0; margin-left:15px;}
.fff li img { border:0; margin:0;}
/*輪播bigBanner*/
.bannerBox { width:747px; height: 225px; position: relative; float:left; overflow:hidden; padding-bottom:20px;}
.bannerBox .picBox { width:3735px; height: 215px; position: relative; }
.bannerBox .picBox li { float:left; background-color:#CCC;}
.bannerBox .block { float:left; margin: 0; padding: 0; height: 215px; width: 747px; overflow: hidden; position: relative; }
.bannerBox .block img { position: absolute; border: 0; }
.bannerBox .block .caption { position: absolute; top: 280px; width: 717px; padding: 10px 15px; }
.bannerBox .block .caption h2 { margin: 0; padding: 0px 0px 10px; font-size:15px;}
.bannerBox .menu { padding:11px 0 0; overflow:hidden;}
.bannerBox .menu li{ float:left; width:147px; margin-right:2px; height:8px; background-color:#5e5e5e; text-indent:-9999px;}

.breadCrumb { background:url(../images/inner/breadCrumbBG.jpg) center top no-repeat; height:38px; padding-bottom:10px;}
.breadCrumb ul { padding-left:50px; overflow:hidden; background:url(../images/inner/breadCrumbDot.jpg) no-repeat 40px 10px;}
.breadCrumb ul li { float:left; color:#5d5d5d; padding-right:5px;}
.breadCrumb ul li a { display:inline-block; padding:9px 5px 0 0; letter-spacing:1px; color:#5d5d5d;}
.breadCrumb ul li a:hover { position:relative; top:1px; text-decoration:underline;}
.breadCrumb ul li a strong { font-weight:bold;}

/**/
.newsList { clear:both; background:url(../images/inner/txtBG_bottom.jpg) left bottom no-repeat; overflow:hidden; padding:0 0 25px;}
.newsList h2 { background:url(../images/inner/titleBG.jpg) no-repeat; height:39px; display:block;}
.newsList h2 div { width:175px; float:left; padding:8px 0 0 20px;}
.newsList h2 ol { width:550px; float:right;}
.newsList h2 ol li { float:right; padding:9px 5px 0 0;}
.newsList h2 ol li a { font-size:15px; font-weight:normal; color:#d9f98c; padding:0 10px; border-left:1px #d9f98c solid;}
.newsList h2 ol li a:hover { color:#FFF;}
.newsList h2 ol li a.on { background:url(../images/inner/arrow.png) no-repeat left 6px; color:#FFF; border:0;}
.newsList h2 ol li a.on:hover { border:0;}
.newsList h2 ol li a:hover { color:#FFF; border-left:1px #d9f98c solid;}
.newsList ul { clear:both; background:url(../images/inner/txtBG_middle.jpg) repeat-y; overflow:hidden; padding:0 0 0 1px;}
.newsList ul li {}
.newsList ul li a { display:block; position:relative; height:181px; background:url(../images/inner/listBG01.jpg) no-repeat;  letter-spacing:1px; line-height:1.6;}
.newsList ul li a:hover h3{ text-decoration:underline;}
.newsList .pic { width:194px; float:left;}
.newsList .pic .masker { position:relative; z-index:20; width:194px; height:176px; display:block; background:url(../images/inner/listIMG.png) no-repeat;}
.newsList .pic img { position:absolute; z-index:10; left:33px; top:24px;}
.newsList .txt { width:550px; float:left; height:176px; overflow:hidden; background:url(../images/inner/listBG02.jpg) no-repeat left 15px;}
.newsList .txt h3 { color:#5c7a0a; padding:25px 20px 5px;}
.newsList .txt p { font-size:13px; color:#6d6d6d; padding:0 20px 10px; height:90px; overflow:hidden;}
.newsList .txt em { display:block; position:absolute; top:7px; right:10px; font-size:9px; letter-spacing:0; color:#9c9c9c;}
/**/
.article { background:url(../images/inner/articleBG.jpg) no-repeat left bottom; width:753px; padding-bottom:50px; overflow:hidden; margin-bottom:10px; position:relative;}
.article .title { position:relative;}
.article .title .kind{ position:absolute; left:43px; top:8px; color:#ffcd00; padding:1px 10px 1px 5px; border-top:1px dotted #aece58; border-left:1px solid #aece58; border-bottom:1px dotted #aece58; border-right:3px solid #aece58; font-size:12px; text-shadow:-1px -1px #38470f; background-color:#6d8825; font-size:10px;}
.article .title h2 { background:url(../images/inner/titleBG02.jpg) repeat-y 1px center; padding:30px 20px 30px 45px; letter-spacing:1px; text-shadow:1px 1px #aacf48; font-size:22px;}
.article .title .bottom { background:url(../images/inner/titleBG02_btm.png) no-repeat left top; height:20px;}
.article .date { padding:0 20px; height:40px; margin-bottom:20px; color:#9c9c9c; font-size:12px; border-bottom:1px #bbb dashed;}
.article .date em { float:left;}

.article .txt { padding:0 40px; overflow:hidden; clear:both; text-align: center;}
.article .txt p { line-height:1.8; letter-spacing:1px; padding-bottom:25px; text-align:justify; text-justify:distribute; font-size:13px; }
.article .txt img { border:6px solid #c1c1c1; margin:0 auto 20px ;}
.article .txt h4 { text-align:left; padding-bottom:10px;}
.article .txt strong { color:#54a200; font-weight:bold;}
.article .txt a { text-decoration:underline; color:#36C;}
.article .txt a:hover { position:relative; top:1px;}
/**/
.otherBox { padding:0 0 30px 13px; border-top:1px #bbbbbb solid; overflow:hidden; background:url(../images/inner/articleBG.jpg) no-repeat left bottom; margin-bottom:10px;}
.otherBox h3 { font-size:15px; padding:15px 10px 10px;}
/**/
.picBox li { position:relative; float:left; margin:0 3px 10px 0;}
.picBox li a { display:block; width:100px; height:110px; background: no-repeat right top; }
.picBox li a:hover { color:#54a200;}
.picBox li a p { display:block; width:auto; height:36px; overflow:hidden; text-align:center; font-size:13px;}
.picBox .pic { position:relative; height:80px; margin-bottom:5px;}
.picBox .pic .icon { position:absolute; left:15px; top:10px;}
.picBox .pic .icon img { width:70px; height:70px;}
.picBox .pic .special { position:absolute; left:15px; top:4px; background:url(../images/base/borderRadius.png) left 6px no-repeat; width:70px; height:80px;}
/**/
.leaveMsg { background-color:#ddf1a7; border:1px solid #9dc927; padding:20px;}
.leaveMsg textarea  { width:665px; height:51px; border-style: none; background:url(../images/base/textareaBG.jpg) no-repeat; color:#ddf1a7; font-size:15px; padding:20px; resize: none;overflow-y: auto; margin-bottom:10px;}
.leaveMsg textarea:focus { outline : 0;}
.leaveMsg textarea.on { color:#FFF;}
.leaveMsg .btn03 { width:50px; margin-left:625px;}
/**/
.msg { padding:10px 0 20px; font-size:12px; letter-spacing:1px; line-height:1.6;}
.msg li { border-bottom:1px solid #e6e6e6; padding:20px 10px;}
.msg .top { padding:0 0 10px;}
.msg .top h4 { display:inline-block; width:130px; padding:0 20px 0 0; color:#547300; font-size:13px; }
.msg .top span { color:#9c9c9c; display:inline-block; padding-left:10px; background:url(../images/base/arrow02.jpg) left center no-repeat;}
.msg .top span strong { color:#393a3a;}
.msg li p { text-align:justify; text-justify:distribute;}

/**/
.specialBox ul { padding:23px 0 20px 27px;}
.specialBox li { float:left; background-color:#CCC; margin:0 20px 20px 0; border:4px white solid;}
.specialBox .block { float:left; padding: 0; height: 215px; width: 330px; overflow: hidden; position: relative; }
.specialBox .block img { position: absolute; border: 0; }
.specialBox .block .caption { position: absolute; top: 280px; width: 350px; padding: 10px 15px;}
.specialBox .block .caption h2 { margin: 0; padding:5px 0; font-size:15px; background:none; height:auto;}

/**/
.pagePrev, .pageNext { position:fixed; top:500px; width:55px; height:120px; cursor:pointer; text-indent:-9999px; z-index:999;}
.pagePrev { left:0; background:url(../images/inner/pageBtnLeft.jpg) no-repeat;}
.pageNext { right:0; background:url(../images/inner/pageBtnRight.jpg) no-repeat;}
.pagePrev:hover, .pageNext:hover {opacity: .8; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}

/**/
.itemList { clear:both; background:url(../images/inner/txtBG01.jpg) left bottom no-repeat; overflow:visible; padding:0 0 15px; margin-bottom:10px;}
.itemList h2 { background:url(../images/inner/titleBG.jpg) no-repeat; height:39px; display:block;}
.itemList h2 div { float:left; background:url(../images/base/line01.png) repeat-y right top;}
.itemList h2 .name { padding:8px 18px 0 20px; height:30px;}
.itemList h2 ol { width:400px; float:left; padding-left:15px;}
.itemList h2 ol li { float:left; padding:9px 5px 0 0;}
.itemList h2 ol li a { font-size:15px; font-weight:normal; color:#d9f98c; padding:0 10px 0 15px; font-weight:bold;}
.itemList h2 ol li a:hover { color:#FFF;}
.itemList h2 ol li a.on { background:url(../images/inner/arrow.png) no-repeat left 6px; color:#2e4100;}
.itemList h2 ol li a.on:hover { border:0;}
.itemList ul { padding:15px 20px 0 153px; overflow:hidden; }
.itemList ul li { float:left; font-size:13px; color:#585858; margin:0 5px 8px 0; letter-spacing:1px;}
.itemList ul li a { padding:1px 4px 2px;* padding:3px 4px 0; white-space: nowrap;}
.itemList ul li a:hover { position:relative; top:1px;}
.itemList ul li.on a { background-color:#690; color:#FFF; border-radius:5px;}

/**/
.gameBox ul { padding:0px 0 0 1px; clear:both; overflow:hidden; width:755px;}
.gameBox .item { float:left; margin: 0 10px 15px 0; border-right:1px #bdbdbd solid; border-bottom:1px #bdbdbd solid;}
.gameBox .item a { display:block; width:240px; height:95px; overflow:hidden; position:relative; background:none; background-color:#FFF; }
.gameBox .item a:hover { background:url(../images/base/boxBG02.jpg) no-repeat right top; }
.gameBox .item .pic { position:relative; width:80px; height:100px; float:left;}
.gameBox .item .pic .icon { position:absolute; left:0; top:10px; border-radius:10px;}
.gameBox .item .pic .icon img { width:70px; height:70px;}
.gameBox .item .pic .special { position:absolute; left:0; top:4px; background:url(../images/base/borderRadius.png) left 6px no-repeat; width:70px; height:80px;}
.gameBox .item ol { width:155px; height:80px; float:left; padding-top:8px;}
.gameBox .item li { font-size:13px; height:18px; line-height:18px; overflow:hidden;}
.gameBox .item li h3 { color:#3e3e3e; font-size:15px;* font-size:14px;}
.gameBox .item li .prize { float:left; width:65px; color:#87b823; font-weight:bold; text-align:right;}
/**/
.RANK .gameBox .item .nomber { font-size:12px; text-align:left; padding:3px 8px 4px; color:#7a8a62; background: url(../images/inner/bbb.jpg) repeat-x; font-weight:bold;}
.RANK .gameBox .L01 .nomber{background: url(../images/inner/aaa.jpg) repeat-x; color:#3b3100;}
.RANK .gameBox .L02 .nomber{background: url(../images/inner/aaa.jpg) repeat-x; color:#3b3100;}
.RANK .gameBox .L03 .nomber{background: url(../images/inner/aaa.jpg) repeat-x; color:#3b3100;}
.RANK .gameBox .item a { height:110px;}
/**/
.TIMEFREE .gameBox .item li .prize{ text-decoration: line-through;}
/**/
.kindSBox { width:117px; height:32px; margin:0 0 0 5px; padding:7px 10px 0 0; float:none; position:relative; z-index:999;}
.kindSBox .choose { display:block;  width:117px; height:36px; line-height:26px; font-size:15px; text-align:center; color:#FFF; cursor:pointer; background:url(../images/inner/kindBG.png) no-repeat left top; padding:0; margin:0;}
.kindSBox .option { position:absolute; width:98px; padding:0 0 17px 0; left:8px; top:31px; background:url(../images/inner/kindBG03.png) no-repeat right bottom; display:none; overflow:hidden;}
.kindSBox .option ol { overflow:hidden; margin:0 auto; padding:6px 0 0; background:url(../images/inner/kindBG02.png) no-repeat left top; }
.kindSBox .option ol li { width:98px; clear:both; margin:0; padding:0; }
.kindSBox .option ol li a { display:block; color:#2e4100; padding:2px 0 0 25px; height:22px;}
.kindSBox .option ol li a:hover { background:url(../images/inner/kindBG04.png) no-repeat 12px top; color:#FFF;}

/**/
.mainContent { overflow:hidden; background:none;}
.mainContent .info { background:none;}
.mainContent .info .L01 { padding:10px 0; border-bottom: 1px #9dc927 solid; overflow:hidden;}
.mainContent .info .L01 h1 { font-size:24px; width:300px; float:left;}
.mainContent .infoTxt { background:none; position:relative; overflow:hidden; font-size:13px; padding:10px 0 40px;}
.mainContent .infoTxt .pic { width:200px; height:200px; float:left; position:relative; }
.mainContent .infoTxt .pic .icon { position:absolute; width:127px; height:127px; left:36px; top:36px; background-color:#d8d8d8;}
.mainContent .infoTxt .pic .icon img { width:127px; height:127px; border:0;}
.mainContent .infoTxt .pic .special { position:absolute; left:0px; top:0px; background:url(../images/game/borderRadius.png) left 0px no-repeat; width:200px; height:200px; z-index:99;}
.mainContent .infoTxt ul { width:540px; float:left; background:url(../images/base/line02.png) no-repeat;}
.mainContent .infoTxt ul li { background:url(../images/base/line03.png) no-repeat left bottom; padding:5px 0 10px 20px; }
.mainContent .infoTxt ul li.lastOne { background:none;}
.mainContent .infoTxt strong { font-weight:bold; padding-right:15px; letter-spacing:2px;}
.mainContent .infoTxt ul li p { padding:10px 0 0; text-align:justify; text-justify:distribute; line-height:1.6; }
.mainContent .infoTxt ol { position:absolute; right:0; width:200px;}
.mainContent .infoTxt ol li { padding:5px 0 5px;}
/*星星*/
.starBar2 { float:right; padding-right:45px; position:relative; width:70px; height:18px;}
.starBar2 span { position:absolute; height:15px; text-indent:-9999px; background: no-repeat left center;}
.starBar2 .greyStar{ width:75px; background-image:url(../images/item/starGray.png);}
.starBar2 .yellowStar{ width:45px; background-image:url(../images/item/starYellow.png);}
/**/
.mainContent .infoTxt .btn { position:absolute; right:0; bottom:0; width:350px; height:30px; padding-bottom:5px;}
.mainContent .infoTxt .btn .btn04 { width:80px; margin-left:10px; float:right;}
.mainContent .fff { padding-top:5px;}
.mainContent .page .pageMenu { border-bottom:1px solid #bbbbbb; height:27px;}
.mainContent .page .pageMenu li { float:left; margin:0; position:relative;}
.mainContent .page .pageMenu li a { display:block; height:30px; line-height:29px; background: no-repeat left top; position:absolute; z-index:998; color:#f1f1f1;}
.mainContent .page .pageMenu li a:hover { background-position: left bottom; color:#636363;}
.mainContent .page .pageMenu li.now a{ background-position: left bottom; z-index:999; color:#636363;}
.mainContent .page .pageMenu li.L01 a { background-image:url(../images/base/tab01.png); width:97px; padding:0 0 0 20px;}
.mainContent .page .pageMenu li.L02 a { background-image:url(../images/base/tab02.png); width:95px; padding:0 0 0 33px; left:90px;}
/**/
.mainContent .page .article { background:url(../images/inner/articleBG02.jpg) no-repeat left bottom; padding-top:40px; }
.mainContent .page .article .txt .me { overflow:hidden;}
.mainContent .page .article .leaveMsg { background:none; border:0; display:none;}
.mainContent .page .article .leaveMsg textarea  { background:url(../images/base/textareaBG02.jpg) no-repeat; color:#636363;}
/*展開/ 收起*/
.toggleArticle, .toggleArticle2 { display:block; position:absolute; right:40px; bottom:25px; background:url(../images/base/toggle.jpg) no-repeat left top; padding-left:16px; color:#FFF; text-decoration:none; width:34px; height:19px; line-height:19px; cursor:pointer; color:#fff; font-size:12px;}
.toggleArticle2 { top:15px; display:none; background-position:left bottom;}

/*會員專區*/
.centerBox { min-height:612px;}
.centerBox .breadCrumb { padding-bottom:25px; overflow:hidden; background:url(../images/inner/breadCrumbBG2.jpg) center top no-repeat;}

/**/
.centerBox #rightBox { width:750px; margin:0 10px 0 0; background:none;}
.centerBox #rightBox .top { background:url(../images/inner/member/menberBoxTop.png) no-repeat; height:10px;}
.centerBox #rightBox .mainBox { background:url(../images/inner/member/menberBoxMid.png) repeat-y; overflow:hidden; padding:10px 0 20px;}
.centerBox #rightBox .mainBox h1 { font-size:25px; font-weight:normal; text-align:center; font-family:Verdana, Geneva, sans-serif, 微軟正黑體; padding:0 0 20px;text-shadow:1px 1px #ccc; letter-spacing:2px;}
.centerBox #rightBox .bot { background:url(../images/inner/member/menberBoxBot.png) no-repeat; height:10px;}
.centerBox #rightBox .mainBox .top, .centerBox #rightBox .mainBox .bot { width:655px;}
.centerBox #rightBox .mainBox .top { background:url(../images/inner/member/menberBox2Top.jpg) no-repeat; height:10px; margin:0 auto;}
.centerBox #rightBox .mainBox .bot { background:url(../images/inner/member/menberBox2Bot.jpg) no-repeat; height:10px; margin:0 auto;}
.centerBox #rightBox .mainBox .mainTxt { background:url(../images/inner/member/menberBox2Mid.jpg) repeat-y; overflow:hidden; margin:0 auto; width:595px; padding:20px 30px;}
.centerBox #rightBox .mainBox .mainTxt h5 { font-size:20px; font-weight:normal; text-align:center; font-family:Verdana, Geneva, sans-serif, 微軟正黑體; letter-spacing:2px; padding-bottom:10px;}
.centerBox #rightBox .mainBox .mainTxt h4 { font-size:13px; font-weight: bold; text-align:center; letter-spacing:1px; color:#466116; padding:20px 0; border-radius:5px;}
.centerBox #rightBox .mainBox .mainTxt h4 a { color:#568700;}
.centerBox #rightBox .mainBox .mainTxt h4 a:hover { text-decoration:underline;}
.centerBox #rightBox .mainBox .mainTxt h3 { color:#676767; font-weight:normal; line-height:1.8; font-size:16px; font-family:Verdana, Geneva, sans-serif, 微軟正黑體; padding-bottom:30px;}
.centerBox #rightBox .mainBox .mainTxt p { line-height:1.8; letter-spacing:1px;}
.centerBox #rightBox .mainBox .btn03 { width:80px; float:right; margin-right:47px; margin-top:20px;}
.centerBox #rightBox .mainBox .mainTxt ul { font-size:15px; font-family:Verdana, Geneva, sans-serif; width:500px; margin:auto;}
.centerBox #rightBox .mainBox .mainTxt ul li { margin-bottom:15px; overflow:hidden;}
.centerBox #rightBox .mainBox .mainTxt ul li strong { display:inline-block; width:100px; padding-right:10px; text-align: right;}
.centerBox #rightBox .mainBox .mainTxt ul li em { padding:0 10px; line-height:30px;}
.centerBox #rightBox .mainBox .mainTxt ul li h6 { font-weight:normal; font-size:12px; padding:5px 0 0 120px; color: #d70b46;}
.centerBox #rightBox .mainBox .mainTxt ul li span { display:none;}
.centerBox #rightBox .mainBox .mainTxt input[type="text"] { width:300px; border-radius:5px; border:1px #bbb solid; height:30px; line-height:30px; padding:0 10px; color:#999; font-size:15px; font-family:Verdana, Geneva, sans-serif; background:url(../images/base/shadow.png) repeat-x center top #fff;}
.centerBox #rightBox .mainBox .mainTxt input.w40 { width:40px; text-align:center;}
.centerBox #rightBox .mainBox .mainTxt input.w60 { width:60px; text-align:center;}
.centerBox #rightBox .mainBox .mainTxt input:focus { background-color: #666; outline: none; color:#FFF;}
.centerBox #rightBox .mainBox .mainTxt ul.aa { padding:25px 0 0; background:url(../images/base/kindMenuBG2.png) no-repeat center top;}
.centerBox #rightBox .mainBox .mainTxt select { text-align: center; font-family:Verdana, Geneva, sans-serif, 微軟正黑體; padding-left:5px;}
.centerBox #rightBox .mainBox .mainTxt select.year { width:75px;}
.centerBox #rightBox .mainBox .mainTxt select.month { width:55px;}
.centerBox #rightBox .mainBox .mainTxt select.day { width:55px;}
/**/
.centerBox #rightBox .b2 .top { background:url(../images/inner/member/menberBox3Top.jpg) no-repeat; height:10px; margin:0 auto;}
.centerBox #rightBox .b2 .bot { background:url(../images/inner/member/menberBox3Bot.jpg) no-repeat; height:10px; margin:0 auto;}
.centerBox #rightBox .b2 .mainTxt { background:url(../images/inner/member/menberBox3Mid.jpg) repeat-y; }
.centerBox #rightBox .b2 .mainTxt { font-size:13px;}
.centerBox #rightBox .b2 .mainTxt h2 { background:none; padding:10px 0 8px; font-size:17px; font-family:Verdana, Geneva, sans-serif, 微軟正黑體; color:#557400;}
.centerBox #rightBox .b2 .mainTxt ul { font-size:13px; padding:0 0 10px 30px; width:auto; margin:0 auto 20px; border-bottom:1px #ececec solid; list-style-type:decimal;}
.centerBox #rightBox .b2 .mainTxt ul li { list-style-type:decimal; overflow: visible; line-height:1.6; margin-bottom:10px; text-align:justify; text-justify:distribute; letter-spacing:1px; }
.centerBox #rightBox .b2 .mainTxt p { text-align:justify; text-justify:distribute; margin-bottom:20px;}
.centerBox #rightBox .b2 .mainTxt ol { font-size:13px; padding:10px 0 10px 30px; width:auto; margin:0 auto 20px; border-bottom:1px #ececec dashed; list-style-type:decimal;}
.centerBox #rightBox .b2 .mainTxt ol li { list-style-type: upper-alpha; overflow: visible; line-height:1.6; margin-bottom:5px; text-align:justify; text-justify:distribute; letter-spacing:1px; }
.centerBox #rightBox .b2 .mainTxt .read { padding:0; width:500px; margin:0 auto; text-align:center; font-size:16px;}

/**/
.centerBox #rightBox .mainBox .mainTxt textarea { border:1px #bbb solid; padding:10px; width:390px; height:110px; margin-left:25px; border-radius:5px; background:url(../images/base/shadow.png) repeat-x center top #fff; font-family:Verdana, Geneva, sans-serif, 微軟正黑體; color:#999;}
.centerBox #rightBox .mainBox .mainTxt textarea:focus { background-color: #666; outline: none; color:#FFF;}
/**/
.Vcode {display:inline-block; overflow:hidden; margin-left:10px;}
/*劾取*/
.radio { height: 30px; width: 40px; padding-left:25px; display:inline-block; background: url(../images/inner/member/select.png) left top no-repeat;}
.radio input[type="radio"],.radio2 input[type="radio"] { display:none;}
.read { padding-left:117px;}
.read em { color:#666;}
/**/
.centerBox #leftBox { width:210px; margin:0 0 0 20px; }
.centerBox #leftBox .memberMenu { width:210px; background:url(../images/inner/member/menberMenuTop.jpg) no-repeat; padding:47px 0 0;}
.centerBox #leftBox .memberMenu ul { background:url(../images/inner/member/menberMenuBot.jpg) left bottom; overflow:hidden; padding:0 10px 30px 3px;}
.centerBox #leftBox .memberMenu ul li { border-bottom:1px #bbb dashed; padding:8px 0 8px 50px; background:url(../images/base/arrow02.jpg) no-repeat 30px center;}
.centerBox #leftBox .memberMenu ul li:hover { position:relative; top:1px;}
/**/
.BUSINESS .centerBox #rightBox { float:none; margin:auto;}

/*下載區------------------*/
.downloadTop { width:100%; background:url(../images/inner/download/topBG.jpg) repeat-x center top; height:474px; border-top:1px #e5ff8e solid; border-bottom:5px #e5ff8e solid;}
.downloadTop .wrapper { background:url(../images/inner/download/topPic.jpg) center 1px; height:472px;}
.downloadTop .wrapper ul { overflow:hidden; padding:380px 0 0 606px;}
.downloadTop .wrapper ul li { float:left; margin-right:12px;}
.downloadTop .wrapper ul li a { display:block; width:97px; height:40px; background:no-repeat left top; text-indent:-9999px;}
.downloadTop .wrapper ul li a:hover { background-position: left bottom;}
.downloadTop .wrapper ul li a:active { position:relative; top:1px;}
.downloadTop .wrapper ul li.L01 a { background-image:url(../images/inner/download/Abtn001.jpg);}
.downloadTop .wrapper ul li.L02 a { background-image:url(../images/inner/download/Abtn002.jpg);}
.downloadTop .wrapper ul li.L03 a { background-image:url(../images/inner/download/Abtn003.jpg);}
/*下載區-問與答*/
.downloadMid { width:100%; background:url(../images/inner/download/botBG.jpg) repeat-x center bottom #fff; padding-bottom:30px;}
.downloadMid .box02 { width:1000px; margin:auto; overflow:hidden; margin-bottom:40px;}
.downloadMid .box02 .title { background:url(../images/inner/download/a001.jpg) no-repeat; width:974px; height:26px; margin:auto; color:#FFF; padding:9px 0 0 10px; letter-spacing:3px; font-family:Verdana, Geneva, sans-serif, 微軟正黑體;}
.COURSE { background:url(../images/inner/download/a002.jpg) no-repeat left top #4e4e4e; cursor:pointer; padding:10px 20px; width:943px; margin:0 auto; border-bottom:1px #a6a6a6 dashed; border-right:1px #5a5a5a solid;}
.COURSE_on { background:url(../images/inner/download/a003.jpg) no-repeat left top #555555;}
/**/
.COURSE h3 { color:#FFF; font-size:16px; font-family:Verdana, Geneva, sans-serif, 微軟正黑體; font-weight:normal; padding-left:50px; background:url(../images/inner/download/Q.png) no-repeat 0 2px; height:40px; line-height:40px; letter-spacing:2px;}
.COURSE_on h3 { color:#acefff;}
.COURSE .ans { display:none; padding:20px 0 0 40px; width:853px; color:#CCC; line-height:1.8;}
.COURSE div .top { display:block; background:url(../images/inner/download/b001.jpg) no-repeat; height:15px;}
.COURSE div .mid { display:block; background:url(../images/inner/download/b002.jpg) repeat-y #444444; padding:0 20px; font-size:13px; overflow:hidden;}
.COURSE div .mid p { margin-bottom:15px; letter-spacing:1px;}
.COURSE div .bot { display:block; background:url(../images/inner/download/b003.jpg) no-repeat ; height:35px;}
/**/
.downloadMid .box03 { width:1000px; margin:auto; background:url(../images/inner/download/c001.png) no-repeat 35px top; height:185px;}
.downloadMid .box03 ul { padding:26px 0 0 502px; overflow:hidden;}
.downloadMid .box03 ul li { float:left; margin-right:10px;}
.downloadMid .box03 ul li a { display:block; width:135px; height:133px; background:no-repeat left top; text-indent:-9999px;}
.downloadMid .box03 ul li a:hover { background-position: -160px -4px;}
.downloadMid .box03 ul li a:active { position:relative; top:1px;}
.downloadMid .box03 ul li.L01 a { background-image:url(../images/inner/download/Bbtn001.jpg);}
.downloadMid .box03 ul li.L02 a { background-image:url(../images/inner/download/Bbtn002.jpg);}
.downloadMid .box03 ul li.L03 a { background-image:url(../images/inner/download/Bbtn003.jpg);}
/**/
.DOWNLOAD #content { padding:0; margin:0;}
.DOWNLOAD #footer { margin:0;}

/*錯誤頁*/
.ERROR .box { background:url(../images/base/BG02.jpg) repeat-x center top; height:600px;}
.ERROR .back { background:url(../images/base/home.jpg) no-repeat; display:block; width:97px; height:40px; text-indent:-9999px; top:280px; left:420px; position:absolute;}
.ERROR .back:hover { background-position:left bottom;}
.ERROR .back:active { top:281px;}
.ERROR .errorTxt {position:absolute; top:200px; left:240px;}
/*登入頁*/
.LOGIN .box { background:url(../images/base/BG02.jpg) repeat-x #74a31d center top; height:600px;}
.LOGIN .contract { background:url(../images/base/BG02.jpg) repeat-x #74a31d center top; overflow:hidden; padding:20px 0;}
.LOGIN .contract #rightBox { margin:0 auto; float:none; width:730px;}
.LOGIN .wrapper {position:relative;}
.LOGIN .logo { position:absolute; top:120px; left:40px;}
.LOGIN .loginBox { width:270px; height:417px; position:absolute; right:10px; top:55px;}
.LOGIN .loginBox ul { background:url(../images/base/login_box.png) no-repeat; padding:85px 15px 5px 15px;}
.LOGIN .loginBox ul li { margin-bottom:13px; overflow:hidden;}
.LOGIN .loginBox ul .error { color:#c70101; letter-spacing:1px; height:30px; margin-bottom:0px; padding-left:48px;}
.LOGIN .loginBox ul .L01,.LOGIN ul .L02 { background:url(../images/base/login_black.jpg) no-repeat; height:44px; padding:4px 0 0 10px;}
.LOGIN .loginBox ul input[type="text"] { width:175px; height:32px; padding:2px 8px; line-height:26px; background:url(../images/base/login_white.jpg) no-repeat transparent; border:0; color:#717676; font-size:15px; font-family:Verdana, Geneva, sans-serif;}
.LOGIN .loginBox ul input[type="text"]:focus { outline: none; color:#000; margin:0; }
.LOGIN .loginBox ul em { display:inline-block; width:35px; height:30px; text-indent:-9999px; background:5px 0px no-repeat;}
.LOGIN .loginBox ul .L01 em { background-image:url(../images/base/icon_acc.png);}
.LOGIN .loginBox ul .L02 em { background-image:url(../images/base/icon_pw.png);}
.LOGIN .loginBox ul .L03,.LOGIN ul .L04,.LOGIN ul .L05 { padding-left:48px;}
.LOGIN .loginBox ul .L04 a { width:65px; border-bottom:1px #bbb dashed; float:left; padding-bottom:3px; margin-right:5px; margin-bottom:1px;}
.LOGIN .loginBox ul .L04 a.register { background:url(../images/base/pencil.png) no-repeat 0px 3px; padding-left:15px;}
.LOGIN .loginBox ul .L05 { clear:both;}
.LOGIN .loginBox ul .L05 a { background:url(../images/base/btn_login02.jpg) no-repeat left top; text-indent:-9999px; width:97px; height:30px; margin-bottom:1px;}
.LOGIN .loginBox ol { overflow:hidden; background:url(../images/base/login_boxBot.png) no-repeat; padding:10px 0 10px 14px;}
.LOGIN .loginBox ol li { float:left;}
.LOGIN .loginBox ol li.title { float:none; width:auto; height:25px; background:none; margin-bottom:5px;}
.LOGIN .loginBox ol li.L02 { margin-left:5px;}
.LOGIN .loginBox ol li { width:47px; height:47px; padding:6px 0 0 6px; background:url(../images/base/login_small.jpg) no-repeat;}
.LOGIN .loginBox ol li a { width:35px; height:34px; background:no-repeat left top; display:block; text-indent:-9999px;}
.LOGIN .loginBox ol li a.btn_FB { background-image:url(../images/base/btn_fb02.png);}
.LOGIN a:hover { background-position:left bottom; color:#89bb1c;}
.LOGIN a:active { position:relative; top:1px;}
/*網站導覽*/
.MAP .box {background:url(../images/base/BG01.jpg) repeat-x; border-top:1px #e5ff8e solid; }
.map { padding:30px 0 30px 100px; }
.NOdiv { background-color: #FF3;}
.map li { overflow:hidden; position:relative;}
.map li a { display:block; padding:5px 0 5px 35px; margin-right:15px; font-size:16px; font-family:Verdana, Geneva, sans-serif, 微軟正黑體; letter-spacing:1px; width:140px; float:left; border-bottom:1px #bbb dashed; background:url(../images/base/btn_more02.png) no-repeat 8px 6px;}
.map li a:hover { color:#509205; background-image:url(../images/base/btn_more04.png); }
.map li a.on{ background-image:url(../images/base/btn_less.png); color:#509205;}
.map li a.NOdiv { background:none;}
.map li div { background:url(../images/base/tbot.jpg) no-repeat left bottom; overflow:hidden; width:150px;float:left; display:none;}
.map ol { background:url(../images/base/ttop.jpg) no-repeat left top; width:129px; overflow:hidden; clear:both;}
.map li div h6 { height:10px;background:url(../images/base/tbot.jpg) no-repeat left top;}
.map ol li {}
.map ol li a { display:block; font-family:Verdana, Geneva, sans-serif; font-size:13px; border:0; background:none; padding:10px 0 5px 15px; border-bottom:1px #bbb dashed;}
.map ol li a:hover { background:none;}
/**/
.MAP .breadCrumb { background:url(../images/inner/breadCrumbBG3.png) center top no-repeat; height:38px; padding-bottom:10px; width:1050px; margin:auto;}
.MAP .breadCrumb ul li { color:#fff;}
.MAP .breadCrumb ul li a { color:#fff;}
.MAP .breadCrumb ul li a:hover { position:relative; top:1px; text-decoration:underline;}
.MAP .breadCrumb ul li a strong { font-weight:bold;}

/*許願專區*/
/**/
.FORUM .itemList { clear:both; padding:0 0 14px; margin-bottom:10px; background:url(../images/base/kindMenuBG3.png) no-repeat center bottom; overflow:visible;}
.FORUM .itemList .btn01 { float:right; font-size:13px; font-weight:normal; margin:8px 10px 0 0; cursor: pointer;}
.FORUM .itemList .kindSBox { background:url(../images/inner/kindBG.png) no-repeat left 7px; z-index:999; position:relative;}
.FORUM .itemList .kindSBox2 { width:317px; float:right; background:url(../images/inner/kindBG05.png) no-repeat left 7px; z-index:999; position:relative;}
.FORUM .itemList .kindSBox .choose { background:none;}
.FORUM .kindSBox .option ol li a { color:#2e4100; padding:2px 0 0 3px; text-align:center;}
.FORUM .kindSBox .option ol li a:hover { color:#FFF; }
.FORUM .article { padding:0 0 11px;}
.FORUM .page .pageMenu { border-bottom:1px solid #bbbbbb; height:27px;}
.FORUM .page .pageMenu li { float:left; margin:0; position:relative;}
.FORUM .page .pageMenu li a { display:block; height:30px; line-height:29px; background: no-repeat left top; position:absolute; color:#f1f1f1;}
.FORUM .page .pageMenu li a:hover { background-position: left bottom; color:#636363;}
.FORUM .page .pageMenu li.now a{ background-position: left bottom; z-index:999; color:#636363;}
.FORUM .page .pageMenu li.L01 a { background-image:url(../images/base/tab201.png); width:97px; padding:0 0 0 20px; z-index:995; }
.FORUM .page .pageMenu li.L02 a { background-image:url(../images/base/tab202.png); width:95px; padding:0 0 0 33px; z-index:994; left:90px;}
.FORUM .page .pageMenu li.L03 a { background-image:url(../images/base/tab203.png); width:95px; padding:0 0 0 33px; z-index:993; left:190px;}
.FORUM .tableStyle01 h5 { display:block; text-indent:-9999px; background:url(../images/base/forum_01.png) no-repeat; width:65px; height:42px; margin:0 auto;}
.FORUM .tableStyle01 h6 { display:block; text-indent:-9999px; background:url(../images/base/forum_02.png) no-repeat; width:65px; height:42px; margin:0 auto;}
.FORUM .tableStyle01 .topic { display:block; width:340px; height:40px; line-height:40px; overflow:hidden;}
.FORUM .tableStyle01 .date { font-size:11px; padding:0; margin:0; border:0; letter-spacing:-1px;}
.FORUM .tableStyle01 .name { display:block; cursor:pointer; padding:3px 0 0; width:95px; overflow:hidden; border-bottom:1px solid none;}
.FORUM .tableStyle01 a{ cursor:pointer;}
.FORUM .tableStyle01 a:hover { color:#2b8adb;}
.FORUM .kindSBox .search { width:200px; float:right; padding-right:6px; padding-top:2px; background:none;}
.FORUM .kindSBox .search input { height:23px; line-height:23px; width:155px; padding:0 8px; background-color:transparent; border:0; color:#788853; font-family:Verdana, Geneva, sans-serif; }
.FORUM .kindSBox .search input:focus { outline: none; color:#fff;}
.FORUM .kindSBox .search span { display:none;}
.FORUM .kindSBox .search_btn { display:block; float:right; width:20px; height:22px; background:url(../images/base/btn_search2.png) no-repeat left 3px; text-indent:-9999px; cursor:pointer;}
.FORUM .kindSBox .search_btn:active { position:relative; top:1px;}
/**/
.FORUM .article .title { background:url(../images/inner/forumTop.jpg) no-repeat; padding:15px 40px 20px; }
.FORUM .article .title h1 { font-size:20px; color:#317935;}
.FORUM .article .title h5 { display:block; text-indent:-9999px; background:url(../images/base/forum_01.png) no-repeat; width:65px; height:42px;}
.FORUM .article .title h6 { display:block; text-indent:-9999px; background:url(../images/base/forum_02.png) no-repeat; width:65px; height:42px;}
.FORUM .pageJump { margin:10px 0;}
.FORUM .masterBox { background:url(../images/base/line04.png) repeat-x left bottom; }
.FORUM .masterBox .who { background:url(../images/inner/forumWhoBG.jpg) no-repeat; width:754px; height:76px; margin-bottom:15px; border-bottom:1px #bdd875 dashed;}
.FORUM .who ul { padding:18px 0 0 40px; overflow:hidden;}
.FORUM .who ul a { display:block; padding:0 0 5px; color:#317935; font-weight:bold; letter-spacing:1px; cursor:default;}

.FORUM .who em { font-size:12px; margin-right:10px; color: #999;}
.FORUM .who em.L01 { padding-left:13px; background:url(../images/inner/itemIMG01.png) no-repeat left 3px; color:#878787;}
.FORUM .visitorBox { background:url(../images/base/line04.png) repeat-x left bottom; }
.FORUM .visitorBox .who { background:url(../images/base/line05.png) repeat-x; width:754px; height:76px; margin:0 1px 15px; border-bottom:1px #d6d6d6 dashed;}
/**/
.FORUM .userBox { overflow:hidden; padding:8px 10px 25px 0; border-top:1px #d6d6d6 dashed;}
.FORUM .userBox ul, .FORUM .userBox ol { font-size:13px; letter-spacing:1px;}
.FORUM .userBox ol a{ color:#616161;}
.FORUM .userBox ul a{ color:#6f8438;}
.FORUM .userBox ul li.L02 a { display:block; padding-left:24px; background:url(../images/inner/itemIMG02.jpg) no-repeat left 2px;}
.FORUM .userBox li { float:right; margin-right:10px;}
.FORUM .userBox a:hover { position:relative; top:1px;} 
.FORUM .backToList { display:block; float:left; background:url(../images/base/backToList.jpg) no-repeat; width:103px; height:24px; text-indent:-9999px; cursor:pointer;}
.FORUM .backToList:hover {opacity: .8;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
.FORUM .backToList:active { position:relative; top:1px;}
/**/
.FORUM .originalTxt { border:1px #bfcf95 solid; height:250px; overflow-y: scroll; margin:0 20px; padding:0 10px; background:url(../images/base/shadow2.png) repeat-x center top #f0fad5; margin-bottom:20px;}
.FORUM .replyBox { padding:20px;}
.FORUM textarea { border:1px #bbb solid; padding:10px 0 10px 10px; width:697px; height:300px; border-radius:5px; background:url(../images/base/shadow2.png) repeat-x center top #fff; font-family:Verdana, Geneva, sans-serif; font-size:13px; letter-spacing:1px; line-height:1.8; color:#666;}
.FORUM textarea:focus { background-color:#f7f7f7; outline: none;}
.FORUM .masterBox h4 { padding:10px 23px;}
.FORUM .replyBox { overflow:hidden; padding:0 20px 20px;}
.FORUM .replyBox h4 { padding:6px 0;}
.FORUM .replyBox h4 ul { width:300px; float:right; height:30px; line-height:30px;}
.FORUM .replyBox h4 ul li { float:right; font-weight:normal; font-size:12px; margin-right:8px;}
.FORUM .replyBox h4 ul li.L04 { margin-left:10px;}
.FORUM .replyBox h4 ul li a:hover,.FORUM .replyBox .otherss1 a:hover { text-decoration:underline;}
.FORUM .replyBox .otherss1 { color: #666666; padding:5px 0 5px 370px; font-size: 13px; height: 30px; line-height: 23px; margin-top: 5px;}
.FORUM .replyBox .otherss1 a { color: #3366cc;}
.FORUM .replyBox .otherss1 input {font-family:Verdana, Geneva, sans-serif;}
.FORUM .replyBox .okBox a { float:right; width:50px; margin-left:10px;}
.FORUM .noName input[type="text"] { width:580px; border-radius:5px; border:1px #bbb solid; height:30px; line-height:30px; padding:0 10px; color:#666; font-size:15px; font-family:Verdana, Geneva, sans-serif; background:url(../images/base/shadow2.png) repeat-x center top #fff;}
.FORUM .noName input[type="text"]:focus { background-color:#f7f7f7; outline: none;}
.FORUM .noName { height:110px; padding:45px 0 0 50px; background:url(../images/base/textareaBG03.jpg) no-repeat 23px 30px; overflow:hidden; }
.FORUM .noName span { display:none;}
/**/
.FORUM .quickReply { padding:20px; margin:0 1px; border-top:1px #bbb solid; background:url(../images/base/shadow3.png) repeat-x #f1fcd6;}
.FORUM .quickReply h4 { padding:0 0 10px;}
.FORUM .quickReply .okBox { padding:10px 0; overflow:hidden;}
.FORUM .quickReply .okBox .btn03 { width:60px; float:right;}
.FORUM .quickReply textarea { border:1px #bbb solid; padding:10px 0 10px 10px; width:697px; height:100px; border-radius:5px; background:url(../images/base/shadow2.png) repeat-x center top #fff; font-family:Verdana, Geneva, sans-serif; font-size:13px; letter-spacing:1px; line-height:1.8; color:#666;}
.FORUM .quickReply textarea:focus { background-color:#f7f7f7; outline: none;}

/**/
.searchResult { padding:10px 0 20px; letter-spacing:1px;}
.searchResult span { color:#2b8adb; padding:0 6px;}